
    <!-- Dinamic footer (pop-up) -->

    <div class="footer-popup" id="footerPopup">
        <button id="closeFooter" aria-label="Close popup">×</button>
        <p>Contact us at: <a href="mailto:info@entropic.es">info@entropic.es</a><br>
        and follow us on <a href="https://instagram.com" target="_blank">instagram</a>, 
        <a href="https://facebook.com" target="_blank">facebook</a> and 
        <a href="https://linkedin.com" target="_blank">linkedin</a>.
        </p>
    </div>

    <!-- Static footer (hidden by default) -->

    <footer class="static-footer" id="staticFooter">
        <div class="footer-content">
            <div class="footer-left">
                <p>
                    Our work redefines how people experience space.<br>
                    Through clean lines and thoughtful materials,
                    we shape environments that inspire.
                </p>
            </div>
            <div class="footer-right">
                <div class="footer-right-col">
                    <p>
                    Contact us at:<br>
                    <a href="mailto:info@entropic.es">info@entropic.es</a>
                    </p>
                </div>
                <div class="footer-right-col">
                    <p>
                    Carrer de Sant Gabriel, 15,
                    Gràcia, 08012 Barcelona,
                    Spain
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Static footer (always visible) -->

    <footer class="mini-footer" id="miniFooter">
        <div class="mini-footer-content">
            <div class="social-icons">
                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                    <img src="/images/instagram.svg" alt="Instagram">
                </a>
                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                    <img src="images/linkedin.svg" alt="LinkedIn">
                </a>
                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                    <img src="images/facebook.svg" alt="Facebook">
                </a>
            </div>
            <p class="copyright">© 2025 Entropic Atelier. All rights reserved.</p>
        </div>
    </footer>

    <!-- DONT FORGET TO ADD -->

    <script src="/scripts/footer.js"></script>
    <script src="/scripts/popup-raise.js"></script>